@font-face {
	font-family: 'HaginCapsMedium';
	src: url('../fonts/HaginCapsMedium/HaginCapsMedium.eot');
	src: url('../fonts/HaginCapsMedium/HaginCapsMedium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HaginCapsMedium/HaginCapsMedium.woff') format('woff'),
	url('../fonts/HaginCapsMedium/HaginCapsMedium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'KelsonSans-BoldRU';
	src: url('../fonts/KelsonSansBoldRU/KelsonSans-BoldRU.eot');
	src: url('../fonts/KelsonSansBoldRU/KelsonSans-BoldRU.eot?#iefix') format('embedded-opentype'),
	url('../fonts/KelsonSansBoldRU/KelsonSans-BoldRU.woff') format('woff'),
	url('../fonts/KelsonSansBoldRU/KelsonSans-BoldRU.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'KelsonSans-LightRU';
	src: url('../fonts/KelsonSansLightRU/KelsonSans-LightRU.eot');
	src: url('../fonts/KelsonSansLightRU/KelsonSans-LightRU.eot?#iefix') format('embedded-opentype'),
	url('../fonts/KelsonSansLightRU/KelsonSans-LightRU.woff') format('woff'),
	url('../fonts/KelsonSansLightRU/KelsonSans-LightRU.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'KelsonSans-RegularRU';
	src: url('../fonts/KelsonSansRegularRU/KelsonSans-RegularRU.eot');
	src: url('../fonts/KelsonSansRegularRU/KelsonSans-RegularRU.eot?#iefix') format('embedded-opentype'),
	url('../fonts/KelsonSansRegularRU/KelsonSans-RegularRU.woff') format('woff'),
	url('../fonts/KelsonSansRegularRU/KelsonSans-RegularRU.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSerif-Bold';
	src: url('../fonts/PTSerifBold/PTSerif-Bold.woff') format('woff'),
	url('../fonts/PTSerifBold/PTSerif-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSerifBold';
	src: url('../fonts/PTSerifBold/PTSerifBold.eot');
	src: url('../fonts/PTSerifBold/PTSerifBold.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSerif-Italic';
	src: url('../fonts/PTSerifItalic/PTSerif-Italic.woff') format('woff'),
	url('../fonts/PTSerifItalic/PTSerif-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSerifItalic';
	src: url('../fonts/PTSerifItalic/PTSerifItalic.eot');
	src: url('../fonts/PTSerifItalic/PTSerifItalic.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSerif-Regular';
	src: url('../fonts/PTSerifRegular/PTSerif-Regular.woff') format('woff'),
	url('../fonts/PTSerifRegular/PTSerif-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSerifRegular';
	src: url('../fonts/PTSerifRegular/PTSerifRegular.eot');
	src: url('../fonts/PTSerifRegular/PTSerifRegular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}







