*{
	margin: 0;
	padding: 0;
}
*:focus {outline: none;}
*::-webkit-input-placeholder {
	font-family: 'KelsonSans-RegularRU';
	color: #aca395;
	opacity: 1;
}
*:-moz-placeholder {
	font-family: 'KelsonSans-RegularRU';
	color: #aca395;
	opacity: 1;
}
*::-moz-placeholder {
	font-family: 'KelsonSans-RegularRU';
	color: #aca395;
	opacity: 1;
}
*:-ms-input-placeholder {
	font-family: 'KelsonSans-RegularRU';
	color: #aca395;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
::-webkit-input-placeholder {...}
::-moz-placeholder  {...}  /* Firefox 19+ */
:-moz-placeholder {...}  /* Firefox 18- */
:-ms-input-placeholder {...}
::placeholder {...}
body ul{
	list-style-type:none;
}
body a{
	text-decoration: none;
}


.main_footer{
	display:block;
	width: 100%;
	height: 170px;
	background-color: #3b3a36;
}
.footer{
	display:block;
	margin: 0 auto;
	max-width:1100px;
	padding:40px 20px;
	font-family: 'KelsonSans-RegularRU';
	color: #7c7c7c;
}
.footer .signature{
	display: inline-block;
	max-width:250px;
	float:left;
}
.footer .signature img{
	width: 104px;
	height: 30px;
}
.footer .signature p{
	font-size: 14px;
	padding: 6px;
}
.footer .footer_menu{
	display: inline-block;
	vertical-align: top;
	float: right;
}
.footer .footer_menu ul li{
	display: inline;
	margin-left: 40px;
	text-transform: uppercase;
	font-size: 16px;
}
.footer .footer_menu ul li a{
	color: #7c7c7c;
	transition: color ease-in-out 0.3s;
}
.footer .footer_menu ul li a:hover{
	color: #e06316;
	transition: color ease-in-out 0.3s;
}
.footer .footer_menu .socials{
	display: inline-block;
	margin-top: 30px;
	float: right;
	text-transform: none;
}
.footer .footer_menu .socials ul li{
	display: inline;
	margin:0 0 0 15px;
}
.footer .footer_menu .socials ul li:nth-child(1){
	display: inline;
	margin:0 0 0 15px;
}
.footer .footer_menu .socials ul li a{
	display: inline-block;
	width: 22px;
	height: 22px;
	text-transform: none;
}
.footer .footer_menu .socials ul li:nth-child(1) a{
	display: inline-block;
	width: 100px;
	height: 22px;
	font-size: 14px;
	text-decoration: underline;
	vertical-align: middle;
}
.footer .footer_menu .socials ul li:nth-child(1) a:hover{
	color: #7c7c7c;
}
.footer .footer_menu .socials ul li a span{
	display: inline-block;
	width: 100%;
	height: 100%;
	opacity:0;
	transition:all ease-in-out 0.4s;
}
.footer .footer_menu .socials ul li a:hover span{
	opacity:1;
	transition:all ease-in-out 0.4s;
}
.footer .footer_menu .socials ul li a.tw{
	background-image: url(../img/tw.svg);
}
.footer .footer_menu .socials ul li a.vk{
	background-image: url(../img/vk.svg);
}
.footer .footer_menu .socials ul li a.fb{
	background-image: url(../img/fb.svg);
}
.footer .footer_menu .socials ul li a.tw span{
	background-image: url(../img/tw_hover.png);
}
.footer .footer_menu .socials ul li a.vk span{
	background-image: url(../img/vk_hover.png);
}
.footer .footer_menu .socials ul li a.fb span{
	background-image: url(../img/fb_hover.png);
}


