*{
	margin: 0;
	padding: 0;
}
*:focus {outline: none;}
*::-webkit-input-placeholder {
	font-family: 'KelsonSans-RegularRU';
	color: #aca395;
	opacity: 1;
}
*:-moz-placeholder {
	font-family: 'KelsonSans-RegularRU';
	color: #aca395;
	opacity: 1;
}
*::-moz-placeholder {
	font-family: 'KelsonSans-RegularRU';
	color: #aca395;
	opacity: 1;
}
*:-ms-input-placeholder {
	font-family: 'KelsonSans-RegularRU';
	color: #aca395;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
::-webkit-input-placeholder {...}
::-moz-placeholder  {...}  /* Firefox 19+ */
:-moz-placeholder {...}  /* Firefox 18- */
:-ms-input-placeholder {...}
::placeholder {...}
body ul{
	list-style-type:none;
}
body a{
	text-decoration: none;
}
.header{
	display: block;
	width: 100%;
	height:108px;
	background-color: #f1eee9;
	position:fixed;
	z-index: 999;
}
	.header .menu{
		max-width: 1250px;
		margin:0 auto;
		/*top:0;
		left:0;*/
		z-index: 999;
	}
.menu img.logo{
	height: 100%;
	width: 195px;
	margin: 20px 25px 0 0;
}
.menu ul{
	display: inline-block;
	vertical-align: top;
}
	.menu ul li{
		display:inline;
		margin:0 10px;
	}
	.menu ul li a{
		font-family: 'KelsonSans-RegularRU';
		font-size: 15px;
		color:#8a7a61;
		text-transform: uppercase;
		line-height: 108px;
		transition:color ease-in-out 0.5s;
	}
	.menu ul li a:hover, .menu ul li a:active{
		color: #e06316;
		transition:color ease-in-out 0.5s;
	}
.menu .search{
	display:inline-block;
	vertical-align: top;
	margin:20px 20px 0 40px;
	max-width: 360px;
}
.menu .search input:hover, .menu .search input:focus{
	border: 1px solid #e06316;
	transition: all ease-in-out 0.5s;
}
.user{
	display: inline-block;
	vertical-align: top;
	float: right;
}
.avatar{
	display: inline-block;
	vertical-align: top;
    margin-top: 25px;
	position: relative;
}
.avatar img{
	display: inline-block;
	width: 52px;
	height: 52px;
	vertical-align: top;
	border: 2px solid #f97f1c;
	box-sizing: content-box;
}
.avatar p{
	position: absolute;
	display: inline-block;
	left: -9px;
    top: -9px;
	width: 20px;
	height: 16px;
    border: 3px solid #f1eee9;
	border-radius: 50%;
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	background-color: #54a200;
	color: #fff;
	font-size: 12px;
	font-family: 'KelsonSans-RegularRU';
	text-align: center;
	z-index: 9;
	padding-top: 4px;
	transition: background-color ease-in-out 0.3s;
}
.avatar p:hover{
	background-color: #63bf00;
	transition: background-color ease-in-out 0.3s;
}
.avatar::after{
	position: absolute;
	content: "";
	width: 0px;
	height: 0px;
	left: 35%;
    border: 8px solid;
	border-color: #e17319 transparent transparent transparent;
	transition: border-color ease-in-out 0.3s;
}
.avatar:hover::after{
	border-color: #f97f1c transparent transparent transparent;
	transition: border-color ease-in-out 0.3s;
}
.avatar img + span{
	display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	box-sizing: content-box;
	background-color: #000;
	opacity: 0.1;
	transition: all ease-in-out 0.3s;
}
.avatar span:hover{
	opacity: 0;
	transition: all ease-in-out 0.3s;
}
.dropdown_menu{
	display: none;
	position: absolute;
	top: 65px;
    left: 0px;
	width: 230px;
	font-family: 'KelsonSans-RegularRU';
	color: #000;
	border-top: 1px solid #c8c2b8;
	border-bottom: 1px solid #c8c2b8;
}
.dropdown_menu a{
	display: block;
	line-height: 36px;
	font-size: 16px;
	padding-left: 20px;
	transition: all ease-in-out 0.3s;
	border-left: 1px solid #c8c2b8;
	border-right: 1px solid #c8c2b8;
}
.dropdown_menu a.message:hover{
	background-color: #cfd3b4;
	color: #4a8300;
	transition: all ease-in-out 0.3s;
	border-left: 1px solid #cfd3b4;
	border-right: 1px solid #cfd3b4;
}
.dropdown_menu a.menu_item, .dropdown_menu a.exit, .dropdown_menu a.message, .dropdown_menu a.author{
	background-color: #f3eadd;
	color: #8a7a61;
	transition: all ease-in-out 0.3s;
}
.dropdown_menu a.author:hover, .dropdown_menu a.menu_item:hover{
	background-color: #e06316;
	border-left: 1px solid #e06316;
	border-right: 1px solid #e06316;
	color: #faf4eb;
	transition: all ease-in-out 0.3s;
}
.dropdown_menu a.exit{
	line-height: 50px;
	padding-left: 140px;
	transition: all ease-in-out 0.3s;
}
.dropdown_menu a.exit:hover{
	color: #e06316;
	transition: all ease-in-out 0.3s;
}
.dropdown_menu a.exit img{
	width: 15px;
	height: 17px;
	border: none;
	background-color: #8a7a61;
	display: inline;
	margin: 16px 7px 0px 0px;
	transition: all ease-in-out 0.3s;
}
.dropdown_menu a.exit:hover img{
	background-color: #e06316;
	transition: all ease-in-out 0.3s;
}
.menu .search p{
	font-family: 'KelsonSans-RegularRU';
	font-size: 14px;
	display: inline;
	vertical-align: top;
	color: #aca395;
}
	.menu .search form{
		display: inline-block;
	}
	.menu .search form input {
		height: 34px;
		width: 185px;
		border: 1px solid transparent;
		outline: none;
		background-color: #dbd5ca;
		color: #aca395;
		margin-top:5px;
		transition: all ease-in-out 0.5s;
		background-image: url(../img/search.png);
		background-repeat: no-repeat;
		background-position: 97% 5px;
		background-size: 25px 25px;
		padding-left: 15px;
	}
.button{
	display:inline-block;
	margin-left: 15px;
	vertical-align: top;
	width: 130px;
	height: 50px;
	text-transform: uppercase;
	background-color: #e06316;
	color:#fff;
	font-size: 16px;
	font-family: 'HaginCapsMedium';
	border: none;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	transition: background-color ease-in-out 0.4s;
}
.button:hover{
	background-color: #f97f1c;
	transition:all ease-in-out 0.4s;
}
.login{
	display:inline-block;
	vertical-align: top;
	max-width:172px;
	margin:32px 0 0 5px;
	font-family: 'KelsonSans-RegularRU';
}
	.login .enter{
		color: #e06316;
		font-size: 18px;
		line-height: 1.5;
	}
	.login .register{
		color: #8a7a61;
		font-size: 14px;
		transition: all ease-in-out 0.5s;
	}
	.login .register:hover{
		color: #e06316;
		transition: all ease-in-out 0.5s;
	}
	.login .register span{
		text-decoration: underline;
	}