*{
	margin: 0;
	padding: 0;
}
*:focus {outline: none;}
*::-webkit-input-placeholder {
	font-family: 'KelsonSans-RegularRU';
	color: #aca395;
	opacity: 1;
}
*:-moz-placeholder {
	font-family: 'KelsonSans-RegularRU';
	color: #aca395;
	opacity: 1;
}
*::-moz-placeholder {
	font-family: 'KelsonSans-RegularRU';
	color: #aca395;
	opacity: 1;
}
*:-ms-input-placeholder {
	font-family: 'KelsonSans-RegularRU';
	color: #aca395;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
::-webkit-input-placeholder {...}
::-moz-placeholder  {...}  /* Firefox 19+ */
:-moz-placeholder {...}  /* Firefox 18- */
:-ms-input-placeholder {...}
::placeholder {...}
body ul{
	list-style-type:none;
}
body a{
	text-decoration: none;
}
.header{
	display: block;
	width: 100%;
	height:108px;
	background-color: #f1eee9;
	position:fixed;
	z-index: 999;
	top: 0;
	-webkit-transform:translateZ(1px);
      -moz-transform:translateZ(1px);
      -o-transform:translateZ(1px);
      transform:translateZ(1px);
}
.header .menu{
		max-width: 1250px;
		margin:0 auto;
		/*top:0;
		left:0;*/
		z-index: 999999;
	}
.menu img.logo{
	height: 100%;
	width: 195px;
	margin: 20px 25px 0 0;
}
.menu ul{
	display: inline-block;
	vertical-align: top;
}
	.menu ul li{
		display:inline;
		margin:0 10px;
	}
	.menu ul li a{
		font-family: 'KelsonSans-RegularRU';
		font-size: 15px;
		color:#8a7a61;
		text-transform: uppercase;
		line-height: 108px;
		transition:color ease-in-out 0.5s;
	}
	.menu ul li a:hover, .menu ul li a:active{
		color: #e06316;
		transition:color ease-in-out 0.5s;
	}
.menu .search{
	display:inline-block;
	vertical-align: top;
	margin:20px 20px 0 40px;
	max-width: 370px;
}
.menu .search:hover input, .menu .search input:focus{
	border: 1px solid #e06316;
	transition: all ease-in-out 0.5s;
}
.user{
	display: inline-block;
	vertical-align: top;
	float: right;
	width: 224px;
}
.avatar{
	width:52px;
	height: 52px;
	vertical-align: top;
    margin-top: 25px;
}
.menu .search p{
	font-family: 'KelsonSans-RegularRU';
	font-size: 14px;
	display: inline;
	vertical-align: top;
	color: #aca395;
}
	.menu .search form{
		display: inline-block;
	}
	.menu .search form input {
		height: 34px;
		width: 335px;
		border: 1px solid transparent;
		outline: none;
		background-color: #dbd5ca;
		color: #aca395;
		margin-top:5px;
		transition: all ease-in-out 0.5s;
		background-image: url(../img/search.png);
		background-repeat: no-repeat;
		background-position: 97% 5px;
		background-size: 25px 25px;
		padding-left: 15px;
	}
	.menu .search form span{
		cursor: pointer;
		display:inline-block;
		height: 38px;
		margin-left:-5px;
	}
.login{
	display:inline-block;
	vertical-align: top;
	max-width:172px;
	margin:32px 0 0 5px;
	font-family: 'KelsonSans-RegularRU';
}
	.login .enter{
		color: #e06316;
		font-size: 18px;
		line-height: 1.5;
	}
	.login .register{
		color: #8a7a61;
		font-size: 14px;
		transition: all ease-in-out 0.5s;
	}
	.login .register:hover{
		color: #e06316;
		transition: all ease-in-out 0.5s;
	}
	.login .register span{
		text-decoration: underline;
	}

.mobile_menu{
	display:none;
}