*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'KelsonSans-RegularRU';
	background-color: #f1eee9;
}

.st3{fill:#8A7A61;}
.st2{fill: #6E8A61;}
.st1{fill: #E06316;}
.st0{fill: #BBB1A1;}

*:focus {outline: none;}
*::-webkit-input-placeholder {
	color: #aca395;
	opacity: 1;
}
*:-moz-placeholder {
	color: #aca395;
	opacity: 1;
}
*::-moz-placeholder {
	color: #aca395;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #aca395;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
::-webkit-input-placeholder {...}
::-moz-placeholder  {...}  /* Firefox 19+ */
:-moz-placeholder {...}  /* Firefox 18- */
:-ms-input-placeholder {...}
::placeholder {...}
body ul{
	list-style-type:none;
}
body a{
	text-decoration: none;
}
.main_content{
	padding-top: 108px;
	display: block;
}
.items .item .img h3{
	font-family: 'HaginCapsMedium';
	font-size: 25px;
	color: #388cb8;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	top: 218px;
	left: 0;
}
a.name_of_block {
    display: inline-block;
    color: #8a7a61;
    padding-top: 40px;
    font-size: 20px;
    text-transform: uppercase;
}
a.name_of_block + span {
    display: block;
    width: 65px;
    height: 1px;
    background-color: #8a7a61;
    margin-top: 7px;
}
.navigation {
    display: inline-block;
    max-width: 200px;
    max-height: 40px;
    margin-left: calc(50% + 350px);
    position: absolute;
    top: 40px;
}
.navigation .arrow_left {
    margin-right: 15px;
}
.navigation .arrow_right {
    margin-left: 15px;
}
.navigation .arrow_left, .navigation .arrow_right {
    display: inline-block;
    cursor: pointer;
}
.navigation .arrow_left:hover .st3,
.navigation .arrow_right:hover .st3{
	fill: #e06316;
	transition: all ease-in-out 0.3s;
}
.navigation .arrow_left .arrow, .navigation .arrow_right .arrow {
    width: 15px;
    height: 25px;
    transition: all ease-in-out 0.3s;
}
.navigation ul.pages {
    display: inline-block;
	vertical-align: top;
}
.navigation li.active {
    color: #e06316;
    font-size: 24px;
}
.navigation ul li {
    line-height: 30px;
    display: inline-block;
    padding: 0 7px;
    color: #8a7a61;
    font-family: 'KelsonSans-BoldRU';
    font-size: 18px;
    vertical-align: top;
    max-width: 7px;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

/* MOST READ */
.most_read{
	display: block;
	max-width: 1060px;
	margin:0 auto;
	height: 930px;
	background-color: #f1eee9;
	position: relative;
}
.most_read_1, .most_read_2, .most_read_3,
.compositions_1, .compositions_2, .compositions_3,
.drafts_1, .drafts_2, .drafts_3,
.news_of_project_1, .news_of_project_2, .news_of_project_3,
.magazine_1, .magazine_2, .magazine_3{
	opacity: 0;
	position: absolute;
	top: 90px;
	left: 0;
	transition: opacity ease-in-out 1.5s;
}
.most_read ul.book_items li{
	display: inline-block;
    padding: 25px 0 36px 0;
    vertical-align: top;
    max-height: 340px;
}
.visible {
    opacity: 1;
    transition: opacity ease-in-out 1.5s;
	z-index: 50;
}
.book_cover_big {
    display: inline-block;
    max-height: 337px;
}
ul.book_items li .book_cover_big a {
    display: inline-block;
    position: relative;
    transition: all ease-in-out 0.3s;
	margin-right: 12px;
	width: 197px;
	height: 336px;
}
ul.book_items li:nth-child(5) .book_cover_big a,
ul.book_items li:nth-child(10) .book_cover_big a{
	margin-right: 0px;
}
.book_cover_big a span.image {
	display: inline-block;
    width: 197px;
	height: 336px;
	position: absolute;
	top: 0;
	left: 0;
    transition: all ease-in-out 0.3s;
    box-sizing: content-box;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
	background-size: 100%;
}
.book_cover_big:hover a span.image{
	height: 384px;
	width: 224px;
	top: -24px;
	left: -14px;
	background-size: 100%;
	transition: all ease-in-out 0.3s;
}
.most_read_1 ul li:nth-child(1) .book_cover_big a span.image{
	background-image: url(../img/book_cover_1.jpg);
}
.most_read_1 ul li:nth-child(2) .book_cover_big a span.image{
	background-image: url(../img/book_cover_2.jpg);
}
.most_read_1 ul li:nth-child(3) .book_cover_big a span.image{
	background-image: url(../img/book_cover_3.jpg);
}
.most_read_1 ul li:nth-child(4) .book_cover_big a span.image{
	background-image: url(../img/book_cover_4.jpg);
}
.most_read_1 ul li:nth-child(5) .book_cover_big a span.image{
	background-image: url(../img/book_cover_5.jpg);
}
.most_read_1 ul li:nth-child(6) .book_cover_big a span.image{
	background-image: url(../img/book_cover_1.jpg);
}
.most_read_1 ul li:nth-child(7) .book_cover_big a span.image{
	background-image: url(../img/book_cover_2.jpg);
}
.most_read_1 ul li:nth-child(8) .book_cover_big a span.image{
	background-image: url(../img/book_cover_3.jpg);
}
.most_read_1 ul li:nth-child(9) .book_cover_big a span.image{
	background-image: url(../img/book_cover_4.jpg);
}
.most_read_1 ul li:nth-child(10) .book_cover_big a span.image{
	background-image: url(../img/book_cover_5.jpg);
}
.book_cover_hover_big {
    width: 197px;
    height: 336px;
    background-color: rgba(251,251,251, 0.7);
	position: absolute;
    top: 0;
    left: 0;
	transition: all ease-in-out 0.3s;
	opacity: 0;
	z-index: 100;
}
.book_cover_big:hover .book_cover_hover_big{
	transition: all ease-in-out 0.3s;
	opacity: 1;
	height: 384px;
	width: 224px;
	top: -24px;
	left: -14px;
}
.book_cover_big a .hover_descr {
    display: block;
    width: 192px;
    height: 230px;
    background-color: transparent;
    position: absolute;
    top: 95px;
    left: -12px;
    font-size: 12px;
    text-align: center;
    padding: 15px;
    color: #000;
    z-index: 100;
    opacity: 0;
    transition: all ease-in-out 0.4s;
    line-height: 1.25;
}
.book_cover_big:hover a .hover_descr{
	opacity: 1;
    transition: all ease-in-out 0.4s;
}
.book_cover_big .hover_descr .about_book {
    opacity: 0;
    transition: opacity ease-in-out 1.5s;
}
.book_cover_big:hover .hover_descr .about_book {
    opacity: 1;
    transition: opacity ease-in-out 1.5s;
}
.book_cover_big a .genre {
    display: block;
    width: 192px;
    font-family: 'PTSerifItalic','PTSerif-Italic';
    font-size: 11px;
    color: #8a7a61;
    text-align: center;
    padding: 10px 0;
}
.book_cover_big a .genre +span {
    display: block;
    width: 28px;
    height: 1px;
    background-color: #d59660;
    margin: 0 0 15px 42%;
}
.book_cover_big a .hover_descr svg {
    max-width: 18px;
    padding-right: 5px;
    vertical-align: top;
}
.book_cover_big a .hover_descr svg +span {
    font-family: 'KelsonSans-RegularRU';
    font-size: 11px;
    padding-right: 10px;
    color: #8a7a61;
    transition: all ease-in-out 0.3s;
}
.book_cover_big a .hover_descr svg.eye {
    max-width: 22px;
    margin-top: -4px;
}
.book_cover_big .back_top_big {
    width: 197px;
    top: 172px;
	display: block;
    height: 7px;
    position: absolute;
    left: 0;
    background-image: url(../img/book_cover_bd_top.png);
    background-size: 100%;
    transition: all ease-in-out 0.3s;
}
.book_cover_big:hover .back_top_big{
	width: 224px;
	top: 83px;
	left: -14px;
	transition: all ease-in-out 0.3s;
}
.book_cover_big .back_middle_big {
    width: 197px;
    height: 120px;
    top: 179px;
	display: block;
    position: absolute;
    left: 0;
    background-color: #f5f3f3;
    transition: all ease-in-out 0.5s;
}
.book_cover_big:hover .back_middle_big{
	width: 224px;
	height: 271px;
	top: 90px;
	left: -14px;
	transition: all ease-in-out 0.3s;
}
.book_cover_big .back_bottom_big {
    width: 197px;
    height: 7px;
    top: 299px;
	display: block;
    position: absolute;
    left: 0;
    background-image: url(../img/book_cover_bd_bottom.png);
    background-size: 100%;
    transition: all ease-in-out 0.5s;
}
.book_cover_big:hover .back_bottom_big {
    opacity: 0;
    transition: all ease-in-out 0.3s;
}
.book_cover_big .book_name_big {
    font-size: 22px;
    width: 197px;
    top: 190px;
	font-family: 'HaginCapsMedium';
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    left: 0;
    text-align: center;
    transition: all ease-in-out 0.3s;
    z-index: 100;
}
.book_cover_big:hover .book_name_big{
	top: -10px;
	transition: all ease-in-out 0.3s;
}
.most_read_1 ul li:nth-child(1) .book_name_big{
	color: #388cb8;
}
.most_read_1 ul li:nth-child(2) .book_name_big{
	color: #a31f1f;
}
.most_read_1 ul li:nth-child(3) .book_name_big{
	color: #e06316;
}
.most_read_1 ul li:nth-child(4) .book_name_big{
	color: #a0a024;
}
.most_read_1 ul li:nth-child(5) .book_name_big{
	color: #44a024;
}
.most_read_1 ul li:nth-child(6) .book_name_big{
	color: #388cb8;
}
.most_read_1 ul li:nth-child(7) .book_name_big{
	color: #a31f1f;
}
.most_read_1 ul li:nth-child(8) .book_name_big{
	color: #e06316;
}
.most_read_1 ul li:nth-child(9) .book_name_big{
	color: #a0a024;
}
.most_read_1 ul li:nth-child(10) .book_name_big{
	color: #44a024;
}
.book_cover_big span.rhombus_big {
    position: absolute;
    width: 7px;
    height: 7px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    transition: all ease-in-out 0.4s;
    z-index: 100;
	left: 99px;
}
.most_read_1 ul li:nth-child(1) span.rhombus_big{
	background-color: #388cb8;
	top: 258px;
}
.most_read_1 ul li:nth-child(2) span.rhombus_big{
	background-color: #a31f1f;
	top: 246px;
}
.most_read_1 ul li:nth-child(3) span.rhombus_big{
	background-color: #e06316;
	top: 258px;
}
.most_read_1 ul li:nth-child(4) span.rhombus_big{
	background-color: #a0a024;
	top: 258px;
}
.most_read_1 ul li:nth-child(5) span.rhombus_big{
	background-color: #44a024;
	top: 246px;
}
.most_read_1 ul li:nth-child(6) span.rhombus_big{
	background-color: #388cb8;
	top: 258px;
}
.most_read_1 ul li:nth-child(7) span.rhombus_big{
	background-color: #a31f1f;
	top: 246px;
}
.most_read_1 ul li:nth-child(8) span.rhombus_big{
	background-color: #e06316;
	top: 258px;
}
.most_read_1 ul li:nth-child(9) span.rhombus_big{
	background-color: #a0a024;
	top: 258px;
}
.most_read_1 ul li:nth-child(10) span.rhombus_big{
	background-color: #44a024;
	top: 246px;
}

.most_read_1 ul li:nth-child(1) .book_cover_big:hover span.rhombus_big,
.most_read_1 ul li:nth-child(3) .book_cover_big:hover span.rhombus_big,
.most_read_1 ul li:nth-child(4) .book_cover_big:hover span.rhombus_big,
.most_read_1 ul li:nth-child(6) .book_cover_big:hover span.rhombus_big,
.most_read_1 ul li:nth-child(8) .book_cover_big:hover span.rhombus_big,
.most_read_1 ul li:nth-child(9) .book_cover_big:hover span.rhombus_big{
	top: 52px;
	transition: all ease-in-out 0.4s;
}
.most_read_1 ul li:nth-child(2) .book_cover_big:hover span.rhombus_big,
.most_read_1 ul li:nth-child(5) .book_cover_big:hover span.rhombus_big,
.most_read_1 ul li:nth-child(7) .book_cover_big:hover span.rhombus_big,
.most_read_1 ul li:nth-child(10) .book_cover_big:hover span.rhombus_big{
	top: 42px;
	transition: all ease-in-out 0.4s;
}
p.author_big {
    font-size: 10px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    position: absolute;
    top: 280px;
    left: 0;
    display: inline-block;
    width: 197px;
    text-align: center;
    transition: all ease-in-out 0.4s;
    z-index: 100;
}
.book_cover_big:hover p.author_big{
	top: 68px;
	transition: all ease-in-out 0.4s;
}

/* MOST READ 2 */
.most_read_2 ul li:nth-child(1) .book_cover_big a span.image{
	background-image: url(../img/book_cover_5.jpg);
}
.most_read_2 ul li:nth-child(2) .book_cover_big a span.image{
	background-image: url(../img/book_cover_4.jpg);
}
.most_read_2 ul li:nth-child(3) .book_cover_big a span.image{
	background-image: url(../img/book_cover_2.jpg);
}
.most_read_2 ul li:nth-child(4) .book_cover_big a span.image{
	background-image: url(../img/book_cover_3.jpg);
}
.most_read_2 ul li:nth-child(5) .book_cover_big a span.image{
	background-image: url(../img/book_cover_1.jpg);
}
.most_read_2 ul li:nth-child(6) .book_cover_big a span.image{
	background-image: url(../img/book_cover_4.jpg);
}
.most_read_2 ul li:nth-child(7) .book_cover_big a span.image{
	background-image: url(../img/book_cover_5.jpg);
}
.most_read_2 ul li:nth-child(8) .book_cover_big a span.image{
	background-image: url(../img/book_cover_1.jpg);
}
.most_read_2 ul li:nth-child(9) .book_cover_big a span.image{
	background-image: url(../img/book_cover_2.jpg);
}
.most_read_2 ul li:nth-child(10) .book_cover_big a span.image{
	background-image: url(../img/book_cover_3.jpg);
}
.most_read_2 ul li:nth-child(1) span.rhombus_big{
	background-color: #388cb8;
	top: 258px;
}
.most_read_2 ul li:nth-child(2) span.rhombus_big{
	background-color: #a31f1f;
	top: 246px;
}
.most_read_2 ul li:nth-child(3) span.rhombus_big{
	background-color: #e06316;
	top: 258px;
}
.most_read_2 ul li:nth-child(4) span.rhombus_big{
	background-color: #a0a024;
	top: 258px;
}
.most_read_2 ul li:nth-child(5) span.rhombus_big{
	background-color: #44a024;
	top: 246px;
}
.most_read_2 ul li:nth-child(6) span.rhombus_big{
	background-color: #388cb8;
	top: 258px;
}
.most_read_2 ul li:nth-child(7) span.rhombus_big{
	background-color: #a31f1f;
	top: 246px;
}
.most_read_2 ul li:nth-child(8) span.rhombus_big{
	background-color: #e06316;
	top: 258px;
}
.most_read_2 ul li:nth-child(9) span.rhombus_big{
	background-color: #a0a024;
	top: 258px;
}
.most_read_2 ul li:nth-child(10) span.rhombus_big{
	background-color: #44a024;
	top: 246px;
}

.most_read_2 ul li:nth-child(1) .book_name_big{
	color: #388cb8;
}
.most_read_2 ul li:nth-child(2) .book_name_big{
	color: #a31f1f;
}
.most_read_2 ul li:nth-child(3) .book_name_big{
	color: #e06316;
}
.most_read_2 ul li:nth-child(4) .book_name_big{
	color: #a0a024;
}
.most_read_2 ul li:nth-child(5) .book_name_big{
	color: #44a024;
}
.most_read_2 ul li:nth-child(6) .book_name_big{
	color: #388cb8;
}
.most_read_2 ul li:nth-child(7) .book_name_big{
	color: #a31f1f;
}
.most_read_2 ul li:nth-child(8) .book_name_big{
	color: #e06316;
}
.most_read_2 ul li:nth-child(9) .book_name_big{
	color: #a0a024;
}
.most_read_2 ul li:nth-child(10) .book_name_big{
	color: #44a024;
}
.most_read_2 ul li:nth-child(1) .book_cover_big:hover span.rhombus_big,
.most_read_2 ul li:nth-child(3) .book_cover_big:hover span.rhombus_big,
.most_read_2 ul li:nth-child(4) .book_cover_big:hover span.rhombus_big,
.most_read_2 ul li:nth-child(6) .book_cover_big:hover span.rhombus_big,
.most_read_2 ul li:nth-child(8) .book_cover_big:hover span.rhombus_big,
.most_read_2 ul li:nth-child(9) .book_cover_big:hover span.rhombus_big{
	top: 52px;
	transition: all ease-in-out 0.4s;
}
.most_read_2 ul li:nth-child(2) .book_cover_big:hover span.rhombus_big,
.most_read_2 ul li:nth-child(5) .book_cover_big:hover span.rhombus_big,
.most_read_2 ul li:nth-child(7) .book_cover_big:hover span.rhombus_big,
.most_read_2 ul li:nth-child(10) .book_cover_big:hover span.rhombus_big{
	top: 42px;
	transition: all ease-in-out 0.4s;
}

/* MOST READ 3 */
.most_read_3 ul li:nth-child(1) .book_cover_big a span.image{
	background-image: url(../img/book_cover_4.jpg);
}
.most_read_3 ul li:nth-child(2) .book_cover_big a span.image{
	background-image: url(../img/book_cover_3.jpg);
}
.most_read_3 ul li:nth-child(3) .book_cover_big a span.image{
	background-image: url(../img/book_cover_2.jpg);
}
.most_read_3 ul li:nth-child(4) .book_cover_big a span.image{
	background-image: url(../img/book_cover_1.jpg);
}
.most_read_3 ul li:nth-child(5) .book_cover_big a span.image{
	background-image: url(../img/book_cover_5.jpg);
}
.most_read_3 ul li:nth-child(6) .book_cover_big a span.image{
	background-image: url(../img/book_cover_5.jpg);
}
.most_read_3 ul li:nth-child(7) .book_cover_big a span.image{
	background-image: url(../img/book_cover_4.jpg);
}
.most_read_3 ul li:nth-child(8) .book_cover_big a span.image{
	background-image: url(../img/book_cover_3.jpg);
}
.most_read_3 ul li:nth-child(9) .book_cover_big a span.image{
	background-image: url(../img/book_cover_2.jpg);
}
.most_read_3 ul li:nth-child(10) .book_cover_big a span.image{
	background-image: url(../img/book_cover_1.jpg);
}
.most_read_3 ul li:nth-child(1) span.rhombus_big{
	background-color: #388cb8;
	top: 258px;
}
.most_read_3 ul li:nth-child(2) span.rhombus_big{
	background-color: #a31f1f;
	top: 246px;
}
.most_read_3 ul li:nth-child(3) span.rhombus_big{
	background-color: #e06316;
	top: 258px;
}
.most_read_3 ul li:nth-child(4) span.rhombus_big{
	background-color: #a0a024;
	top: 258px;
}
.most_read_3 ul li:nth-child(5) span.rhombus_big{
	background-color: #44a024;
	top: 246px;
}
.most_read_3 ul li:nth-child(6) span.rhombus_big{
	background-color: #388cb8;
	top: 258px;
}
.most_read_3 ul li:nth-child(7) span.rhombus_big{
	background-color: #a31f1f;
	top: 246px;
}
.most_read_3 ul li:nth-child(8) span.rhombus_big{
	background-color: #e06316;
	top: 258px;
}
.most_read_3 ul li:nth-child(9) span.rhombus_big{
	background-color: #a0a024;
	top: 258px;
}
.most_read_3 ul li:nth-child(10) span.rhombus_big{
	background-color: #44a024;
	top: 246px;
}

.most_read_3 ul li:nth-child(1) .book_name_big{
	color: #388cb8;
}
.most_read_3 ul li:nth-child(2) .book_name_big{
	color: #a31f1f;
}
.most_read_3 ul li:nth-child(3) .book_name_big{
	color: #e06316;
}
.most_read_3 ul li:nth-child(4) .book_name_big{
	color: #a0a024;
}
.most_read_3 ul li:nth-child(5) .book_name_big{
	color: #44a024;
}
.most_read_3 ul li:nth-child(6) .book_name_big{
	color: #388cb8;
}
.most_read_3 ul li:nth-child(7) .book_name_big{
	color: #a31f1f;
}
.most_read_3 ul li:nth-child(8) .book_name_big{
	color: #e06316;
}
.most_read_3 ul li:nth-child(9) .book_name_big{
	color: #a0a024;
}
.most_read_3 ul li:nth-child(10) .book_name_big{
	color: #44a024;
}
.most_read_3 ul li:nth-child(1) .book_cover_big:hover span.rhombus_big,
.most_read_3 ul li:nth-child(3) .book_cover_big:hover span.rhombus_big,
.most_read_3 ul li:nth-child(4) .book_cover_big:hover span.rhombus_big,
.most_read_3 ul li:nth-child(6) .book_cover_big:hover span.rhombus_big,
.most_read_3 ul li:nth-child(8) .book_cover_big:hover span.rhombus_big,
.most_read_3 ul li:nth-child(9) .book_cover_big:hover span.rhombus_big{
	top: 52px;
	transition: all ease-in-out 0.4s;
}
.most_read_3 ul li:nth-child(2) .book_cover_big:hover span.rhombus_big,
.most_read_3 ul li:nth-child(5) .book_cover_big:hover span.rhombus_big,
.most_read_3 ul li:nth-child(7) .book_cover_big:hover span.rhombus_big,
.most_read_3 ul li:nth-child(10) .book_cover_big:hover span.rhombus_big{
	top: 42px;
	transition: all ease-in-out 0.4s;
}
/*BLOCK DISCUSSION*/

.discussion{
	display: block;
    width: 100%;
    margin: 0 auto;
    background-color: #faf6ee;
	padding-bottom: 30px;
}
.discussion_inner{
	display: block;
    max-width: 1060px;
	height: 480px;
    margin: 0 auto;
}
.discussion .discussion_inner ul{
	padding: 15px 0;
}
.discussion .discussion_inner ul li{
	display: inline;
	width: 50%;
	float: left;
}
.discussion .discussion_inner ul li p.date{
	margin-top: 20px;
	font-family: 'KelsonSans-RegularRU';
	font-size: 12px;
	color: #8a7a61;
}
.discussion .discussion_inner ul li a.author{
	font-family: 'KelsonSans-RegularRU';
	font-size: 14px;
	color: #e06316;
	text-transform: uppercase;
}
.discussion .discussion_inner ul li a.book_name{
	font-family: 'PTSerif-Bold';
	font-size: 18px;
	color: #000;
	padding-right: 13px;
	display: inline-block;
	vertical-align: bottom;
}
.discussion .discussion_inner ul li svg {
	max-width: 18px;
	display: inline-block;
	vertical-align: bottom;
}
.discussion .discussion_inner ul li svg.discussion_comment{
	max-width: 14px;
}
.discussion .discussion_inner ul li svg + span{
	font-family: 'KelsonSans-RegularRU';
	font-size: 11px;
	padding: 0 15px 0 3px;
	color: #8a7a61;
	transition: all ease-in-out 0.3s;
	display: inline-block;
	vertical-align: bottom;
}


/* VAMPIRE BANNER */
.vampire_banner{
	display: block;
	width: 100%;
	margin: 0 auto;
	padding-top: 25px;
}
	.vampire{
		position: relative;
		height: 177px;
		margin: 0 auto;
		max-width: 1060px;
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
	}
	.vampire div{
		display: block;
		position: absolute;
		top: 0;
		right: 32px;
		width: 423px;
	}
	.vampire div a{
		color: #fff;
	}
	.vampire div a p.ten{
		font-family: 'HaginCapsMedium';
		font-size: 140px;
		display: inline-block;
	}
	.vampire div a p.best_vampire{
		display: inline-block;
		font-family: 'KelsonSans-LightRU';
		font-size: 23px;
		letter-spacing: 12px;
		text-transform: uppercase;
		vertical-align: top;
		margin-bottom: -7px;
	}
	.vampire div a p + span{
		display: inline-block;
		width: 245px;
		height: 1px;
		background-color: #fff;
	}
	.vampire div a p.about_vampire{
		display: inline-block;
		font-family: 'HaginCapsMedium';
		font-size: 50px;
		padding-left: 7px;
		margin-bottom: -7px;
	}
	.vampire div div{
		display: block;
		position: absolute;
		top: 34px;
		right: -118px;
	}

/* FINISHED COMPOSITIONS */
.finished_compositions {
    display: block;
    width: 1060px;
    margin: 0 auto;
    position: relative;
}
.compositions {
    display: block;
    height: 975px;
    position: relative;
    margin: 20px 0 0 0;
    padding-bottom: 50px;
}
.compositions_1, .compositions_2, .compositions_3{
	top: 0;
}
.compositions ul li {
    display: inline-block;
    width: 520px;
    height: 300px;
    margin-bottom: 35px;
    position: relative;
}
.compositions ul li:nth-child(odd){
    margin-right: 15px;
}
.book_descr_small {
    display: inline-block;
    position: absolute;
    left: 172px;
    top: 24px;
    width: 346px;
    height: 245px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    background-color: #fff;
}
.book_descr_small .about {
    display: inline-block;
    position: absolute;
    width: 300px;
    left: 25px;
    top: 0;
}
p.author2, p.book_name2 {
    text-transform: uppercase;
    cursor: pointer;
}
p.author2 {
    font-family: 'KelsonSans-BoldRU';
    color: #e06316;
    font-size: 12px;
    padding-top: 15px;
}
p.book_name2 {
    font-family: 'HaginCapsMedium';
    padding-top: 5px;
    font-weight: bold;
    width: 305px;
    color: #000;
}
.compositions_1 ul li:nth-child(1) p.book_name2{
	font-size: 22px;
}
.compositions_1 ul li:nth-child(2) p.book_name2,
.compositions_1 ul li:nth-child(4) p.book_name2,
.compositions_1 ul li:nth-child(5) p.book_name2,
.compositions_1 ul li:nth-child(6) p.book_name2{
	font-size: 30px;
}
.compositions_1 ul li:nth-child(3) p.book_name2{
	font-size: 26px;
}
p.book_name2 + span {
    display: inline-block;
    width: 110px;
    height: 1px;
    background-color: #000;
}
.about_book_small {
    padding-top: 5px;
    display: inline-block;
    max-width: 250px;
    color: #000;
    font-family: 'PTSerif-Regular', 'PTSerifRegular';
    font-weight: bold;
    font-size: 13px;
}
.about_book_small + span {
    display: block;
    margin: 5px 0;
    width: 30px;
    height: 1px;
    background-color: #d59660;
}
.genre_small {
    font-family: 'PTSerif-Italic', 'PTSerifItalic';
    color: #8a7a61;
    font-size: 14px;
}
.book_cover_small {
    display: inline-block;
    width: 172px;
    height: 293px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.book_cover_small a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
span.image_small {
	display: inline-block;
    width: 172px;
	height: 293px;
	position: absolute;
	top: 0;
	left: 0;
    transition: all ease-in-out 0.3s;
    box-sizing: content-box;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
	background-size: 100%;
}
.compositions_1 ul li:nth-child(1) span.image_small{
	background-image: url(../img/book_cover_1.jpg);
}
.compositions_1 ul li:nth-child(2) span.image_small{
	background-image: url(../img/composition_2.jpg);
}
.compositions_1 ul li:nth-child(3) span.image_small{
	background-image: url(../img/composition_3.jpg);
}
.compositions_1 ul li:nth-child(4) span.image_small{
	background-image: url(../img/composition_4.jpg);
}
.compositions_1 ul li:nth-child(5) span.image_small{
	background-image: url(../img/composition_5.jpg);
}
.compositions_1 ul li:nth-child(6) span.image_small{
	background-image: url(../img/composition_6.jpg);
}
.book_cover_hover_small {
    width: 172px;
    height: 293px;
    background-color: rgba(56,45,18, 0.2);
    opacity: 1;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
	transition: all ease-in-out 0.4s;
}
.book_cover_small:hover .book_cover_hover_small{
	transition: all ease-in-out 0.4s;
	opacity: 0;
}
.back_top_small {
    width: 172px;
    display: block;
    height: 7px;
    position: absolute;
    left: 0;
	top: 152px;
    background-image: url(../img/book_cover_bd_top.png);
    background-size: 100%;
}
.back_middle_small {
    height: 106px;
    top: 158px;
	width: 172px;
	display: block;
    position: absolute;
    left: 0;
    background-color: #f5f3f3;
}
.back_bottom_small {
    display: block;
	width: 172px;
	height: 6px;
    position: absolute;
    left: 0;
    top: 264px;
    background-image: url(../img/book_cover_bd_bottom.png);
    background-size: 100%;
    transition: all ease-in-out 0.5s;
}
.book_name_small {
    font-size: 19px;
    top: 165px;
	font-family: 'HaginCapsMedium';
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    left: 0;
    text-align: center;
    transition: all ease-in-out 0.3s;
    z-index: 100;
	width: 172px;
}
.compositions_1 ul li:nth-child(1) .book_name_small{
	color: #388cb8;
}
.compositions_1 ul li:nth-child(2) .book_name_small{
	color: #b4791e;
}
.compositions_1 ul li:nth-child(3) .book_name_small{
	color: #63005d;
}
.compositions_1 ul li:nth-child(4) .book_name_small{
	color: #b4791e;
}
.compositions_1 ul li:nth-child(5) .book_name_small{
	color: #826593;
}
.compositions_1 ul li:nth-child(6) .book_name_small{
	color: #b41e1e;
}
.rhombus_small {
    position: absolute;
    width: 7px;
    height: 7px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    transition: all ease-in-out 0.4s;
    z-index: 100;
	left: 85px;
}
.compositions_1 ul li:nth-child(2) .rhombus_small{
	top: 212px;
	background-color: #b4791e;
}
.compositions_1 ul li:nth-child(1) .rhombus_small,
.compositions_1 ul li:nth-child(3) .rhombus_small,
.compositions_1 ul li:nth-child(4) .rhombus_small,
.compositions_1 ul li:nth-child(5) .rhombus_small,
.compositions_1 ul li:nth-child(6) .rhombus_small{
	top: 224px;
}
.compositions_1 ul li:nth-child(1) .rhombus_small{
	background-color: #388cb8;
}
.compositions_1 ul li:nth-child(3) .rhombus_small{
	background-color: #63005d;
}
.compositions_1 ul li:nth-child(4) .rhombus_small{
	background-color: #b4791e;
}
.compositions_1 ul li:nth-child(5) .rhombus_small{
	background-color: #826593;
}
.compositions_1 ul li:nth-child(6) .rhombus_small{
	background-color: #b41e1e;
}
p.author_small {
    font-size: 10px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    position: absolute;
    top: 240px;
    left: 0;
    display: inline-block;
    width: 172px;
    text-align: center;
    transition: all ease-in-out 0.4s;
    z-index: 100;
}
.book, .purse{
    display: inline-block;
    width: 50px;
    height: 50px;
    right: 15px;
    bottom: 9px;
    background-color: #e06316;
    position: absolute;
    box-shadow: 0 0 5px rgba(0,0,0,2.5);
    transition: all ease-in-out 0.4s;
	z-index: 20;
}
.book:hover, .purse:hover {
    background-color: #f97f1c;
    transition: all ease-in-out 0.4s;
}
.book span{
	display: inline-block;
	height: 23px;
    width: 33px;
	background-image: url(../img/orange_book.png);
	margin-top: 13px;
	margin-left: 8px;
}


/* FINISHED_COMPOSITIONS_2 */
.compositions_2 ul li:nth-child(1) p.book_name2{
	font-size: 22px;
}
.compositions_2 ul li:nth-child(2) p.book_name2,
.compositions_2 ul li:nth-child(4) p.book_name2,
.compositions_2 ul li:nth-child(5) p.book_name2,
.compositions_2 ul li:nth-child(6) p.book_name2{
	font-size: 30px;
}
.compositions_2 ul li:nth-child(3) p.book_name2{
	font-size: 26px;
}
.compositions_2 ul li:nth-child(1) span.image_small{
	background-image: url(../img/book_cover_2.jpg);
}
.compositions_2 ul li:nth-child(2) span.image_small{
	background-image: url(../img/composition_3.jpg);
}
.compositions_2 ul li:nth-child(3) span.image_small{
	background-image: url(../img/composition_4.jpg);
}
.compositions_2 ul li:nth-child(4) span.image_small{
	background-image: url(../img/composition_5.jpg);
}
.compositions_2 ul li:nth-child(5) span.image_small{
	background-image: url(../img/composition_6.jpg);
}
.compositions_2 ul li:nth-child(6) span.image_small{
	background-image: url(../img/book_cover_4.jpg);
}
.compositions_2 ul li:nth-child(1) .book_name_small{
	color: #388cb8;
}
.compositions_2 ul li:nth-child(2) .book_name_small{
	color: #b4791e;
}
.compositions_2 ul li:nth-child(3) .book_name_small{
	color: #63005d;
}
.compositions_2 ul li:nth-child(4) .book_name_small{
	color: #b4791e;
}
.compositions_2 ul li:nth-child(5) .book_name_small{
	color: #826593;
}
.compositions_2 ul li:nth-child(6) .book_name_small{
	color: #b41e1e;
}
.compositions_2 ul li:nth-child(2) .rhombus_small{
	top: 212px;
	background-color: #b4791e;
}
.compositions_2 ul li:nth-child(1) .rhombus_small,
.compositions_2 ul li:nth-child(3) .rhombus_small,
.compositions_2 ul li:nth-child(4) .rhombus_small,
.compositions_2 ul li:nth-child(5) .rhombus_small,
.compositions_2 ul li:nth-child(6) .rhombus_small{
	top: 224px;
}
.compositions_2 ul li:nth-child(1) .rhombus_small{
	background-color: #388cb8;
}
.compositions_2 ul li:nth-child(3) .rhombus_small{
	background-color: #63005d;
}
.compositions_2 ul li:nth-child(4) .rhombus_small{
	background-color: #b4791e;
}
.compositions_2 ul li:nth-child(5) .rhombus_small{
	background-color: #826593;
}
.compositions_2 ul li:nth-child(6) .rhombus_small{
	background-color: #b41e1e;
}

/* FINISHED_COMPOSITIONS_3 */
.compositions_3 ul li:nth-child(1) p.book_name2{
	font-size: 22px;
}
.compositions_3 ul li:nth-child(2) p.book_name2,
.compositions_3 ul li:nth-child(4) p.book_name2,
.compositions_3 ul li:nth-child(5) p.book_name2,
.compositions_3 ul li:nth-child(6) p.book_name2{
	font-size: 30px;
}
.compositions_3 ul li:nth-child(3) p.book_name2{
	font-size: 26px;
}
.compositions_3 ul li:nth-child(1) span.image_small{
	background-image: url(../img/book_cover_4.jpg);
}
.compositions_3 ul li:nth-child(2) span.image_small{
	background-image: url(../img/composition_5.jpg);
}
.compositions_3 ul li:nth-child(3) span.image_small{
	background-image: url(../img/book_cover_2.jpg);
}
.compositions_3 ul li:nth-child(4) span.image_small{
	background-image: url(../img/book_cover_3.jpg);
}
.compositions_3 ul li:nth-child(5) span.image_small{
	background-image: url(../img/composition_3.jpg);
}
.compositions_3 ul li:nth-child(6) span.image_small{
	background-image: url(../img/book_cover_5.jpg);
}
.compositions_3 ul li:nth-child(1) .book_name_small{
	color: #388cb8;
}
.compositions_3 ul li:nth-child(2) .book_name_small{
	color: #b4791e;
}
.compositions_3 ul li:nth-child(3) .book_name_small{
	color: #63005d;
}
.compositions_3 ul li:nth-child(4) .book_name_small{
	color: #b4791e;
}
.compositions_3 ul li:nth-child(5) .book_name_small{
	color: #826593;
}
.compositions_3 ul li:nth-child(6) .book_name_small{
	color: #b41e1e;
}
.compositions_3 ul li:nth-child(2) .rhombus_small{
	top: 212px;
	background-color: #b4791e;
}
.compositions_3 ul li:nth-child(1) .rhombus_small,
.compositions_3 ul li:nth-child(3) .rhombus_small,
.compositions_3 ul li:nth-child(4) .rhombus_small,
.compositions_3 ul li:nth-child(5) .rhombus_small,
.compositions_3 ul li:nth-child(6) .rhombus_small{
	top: 224px;
}
.compositions_3 ul li:nth-child(1) .rhombus_small{
	background-color: #388cb8;
}
.compositions_3 ul li:nth-child(3) .rhombus_small{
	background-color: #63005d;
}
.compositions_3 ul li:nth-child(4) .rhombus_small{
	background-color: #b4791e;
}
.compositions_3 ul li:nth-child(5) .rhombus_small{
	background-color: #826593;
}
.compositions_3 ul li:nth-child(6) .rhombus_small{
	background-color: #b41e1e;
}

/* NEW DRAFTS */
.new_drafts {
    display: block;
    width: 100%;
	background-color: #faf6ee;
}
.drafts_inner {
    display: block;
    width: 1060px;
    margin: 0 auto;
    position: relative;
}
.drafts {
    display: block;
    height: 975px;
    position: relative;
    margin: 20px 0 0 0;
    padding-bottom: 50px;
}
.drafts_1, .drafts_2, .drafts_3{
	top: 0;
}
.drafts ul li {
    display: inline-block;
    width: 520px;
    height: 300px;
    margin-bottom: 35px;
    position: relative;
}
.drafts ul li:nth-child(odd){
    margin-right: 15px;
}
.drafts_1 ul li:nth-child(1) p.book_name2{
	font-size: 22px;
}
.drafts_1 ul li:nth-child(2) p.book_name2,
.drafts_1 ul li:nth-child(4) p.book_name2,
.drafts_1 ul li:nth-child(5) p.book_name2,
.drafts_1 ul li:nth-child(6) p.book_name2{
	font-size: 30px;
}
.drafts_1 ul li:nth-child(3) p.book_name2{
	font-size: 26px;
}
.drafts_1 ul li:nth-child(1) span.image_small{
	background-image: url(../img/book_cover_1.jpg);
}
.drafts_1 ul li:nth-child(2) span.image_small{
	background-image: url(../img/composition_2.jpg);
}
.drafts_1 ul li:nth-child(3) span.image_small{
	background-image: url(../img/composition_3.jpg);
}
.drafts_1 ul li:nth-child(4) span.image_small{
	background-image: url(../img/composition_4.jpg);
}
.drafts_1 ul li:nth-child(5) span.image_small{
	background-image: url(../img/composition_5.jpg);
}
.drafts_1 ul li:nth-child(6) span.image_small{
	background-image: url(../img/composition_6.jpg);
}
.drafts_1 ul li:nth-child(1) .book_name_small{
	color: #388cb8;
}
.drafts_1 ul li:nth-child(2) .book_name_small{
	color: #b4791e;
}
.drafts_1 ul li:nth-child(3) .book_name_small{
	color: #63005d;
}
.drafts_1 ul li:nth-child(4) .book_name_small{
	color: #b4791e;
}
.drafts_1 ul li:nth-child(5) .book_name_small{
	color: #826593;
}
.drafts_1 ul li:nth-child(6) .book_name_small{
	color: #b41e1e;
}
.drafts_1 ul li:nth-child(2) .rhombus_small{
	top: 212px;
	background-color: #b4791e;
}
.drafts_1 ul li:nth-child(1) .rhombus_small,
.drafts_1 ul li:nth-child(3) .rhombus_small,
.drafts_1 ul li:nth-child(4) .rhombus_small,
.drafts_1 ul li:nth-child(5) .rhombus_small,
.drafts_1 ul li:nth-child(6) .rhombus_small{
	top: 224px;
}
.drafts_1 ul li:nth-child(1) .rhombus_small{
	background-color: #388cb8;
}
.drafts_1 ul li:nth-child(3) .rhombus_small{
	background-color: #63005d;
}
.drafts_1 ul li:nth-child(4) .rhombus_small{
	background-color: #b4791e;
}
.drafts_1 ul li:nth-child(5) .rhombus_small{
	background-color: #826593;
}
.drafts_1 ul li:nth-child(6) .rhombus_small{
	background-color: #b41e1e;
}
.update {
    display: block;
    position: absolute;
    top: -1px;
    right: 15px;
    height: 25px;
    width: 145px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    text-align: center;
    background-color: #e9e1d5;
    color: #857559;
    font-size: 13px;
    font-family: 'KelsonSans-RegularRU';
    padding-top: 4px;
}

/* DRAFTS_2 */
.drafts_2 ul li:nth-child(1) p.book_name2{
	font-size: 22px;
}
.drafts_2 ul li:nth-child(2) p.book_name2,
.drafts_2 ul li:nth-child(4) p.book_name2,
.drafts_2 ul li:nth-child(5) p.book_name2,
.drafts_2 ul li:nth-child(6) p.book_name2{
	font-size: 30px;
}
.drafts_2 ul li:nth-child(3) p.book_name2{
	font-size: 26px;
}
.drafts_2 ul li:nth-child(1) span.image_small{
	background-image: url(../img/book_cover_3.jpg);
}
.drafts_2 ul li:nth-child(2) span.image_small{
	background-image: url(../img/composition_6.jpg);
}
.drafts_2 ul li:nth-child(3) span.image_small{
	background-image: url(../img/composition_5.jpg);
}
.drafts_2 ul li:nth-child(4) span.image_small{
	background-image: url(../img/composition_4.jpg);
}
.drafts_2 ul li:nth-child(5) span.image_small{
	background-image: url(../img/composition_3.jpg);
}
.drafts_2 ul li:nth-child(6) span.image_small{
	background-image: url(../img/composition_2.jpg);
}
.drafts_2 ul li:nth-child(1) .book_name_small{
	color: #388cb8;
}
.drafts_2 ul li:nth-child(2) .book_name_small{
	color: #b4791e;
}
.drafts_2 ul li:nth-child(3) .book_name_small{
	color: #63005d;
}
.drafts_2 ul li:nth-child(4) .book_name_small{
	color: #b4791e;
}
.drafts_2 ul li:nth-child(5) .book_name_small{
	color: #826593;
}
.drafts_2 ul li:nth-child(6) .book_name_small{
	color: #b41e1e;
}
.drafts_2 ul li:nth-child(2) .rhombus_small{
	top: 212px;
	background-color: #b4791e;
}
.drafts_2 ul li:nth-child(1) .rhombus_small,
.drafts_2 ul li:nth-child(3) .rhombus_small,
.drafts_2 ul li:nth-child(4) .rhombus_small,
.drafts_2 ul li:nth-child(5) .rhombus_small,
.drafts_2 ul li:nth-child(6) .rhombus_small{
	top: 224px;
}
.drafts_2 ul li:nth-child(1) .rhombus_small{
	background-color: #388cb8;
}
.drafts_2 ul li:nth-child(3) .rhombus_small{
	background-color: #63005d;
}
.drafts_2 ul li:nth-child(4) .rhombus_small{
	background-color: #b4791e;
}
.drafts_2 ul li:nth-child(5) .rhombus_small{
	background-color: #826593;
}
.drafts_2 ul li:nth-child(6) .rhombus_small{
	background-color: #b41e1e;
}

/* DRAFTS_3 */
.drafts_3 ul li:nth-child(1) p.book_name2{
	font-size: 22px;
}
.drafts_3 ul li:nth-child(2) p.book_name2,
.drafts_3 ul li:nth-child(4) p.book_name2,
.drafts_3 ul li:nth-child(5) p.book_name2,
.drafts_3 ul li:nth-child(6) p.book_name2{
	font-size: 30px;
}
.drafts_3 ul li:nth-child(3) p.book_name2{
	font-size: 26px;
}
.drafts_3 ul li:nth-child(1) span.image_small{
	background-image: url(../img/book_cover_2.jpg);
}
.drafts_3 ul li:nth-child(2) span.image_small{
	background-image: url(../img/composition_3.jpg);
}
.drafts_3 ul li:nth-child(3) span.image_small{
	background-image: url(../img/composition_4.jpg);
}
.drafts_3 ul li:nth-child(4) span.image_small{
	background-image: url(../img/composition_5.jpg);
}
.drafts_3 ul li:nth-child(5) span.image_small{
	background-image: url(../img/composition_4.jpg);
}
.drafts_3 ul li:nth-child(6) span.image_small{
	background-image: url(../img/composition_3.jpg);
}
.drafts_3 ul li:nth-child(1) .book_name_small{
	color: #388cb8;
}
.drafts_3 ul li:nth-child(2) .book_name_small{
	color: #b4791e;
}
.drafts_3 ul li:nth-child(3) .book_name_small{
	color: #63005d;
}
.drafts_3 ul li:nth-child(4) .book_name_small{
	color: #b4791e;
}
.drafts_3 ul li:nth-child(5) .book_name_small{
	color: #826593;
}
.drafts_3 ul li:nth-child(6) .book_name_small{
	color: #b41e1e;
}
.drafts_3 ul li:nth-child(2) .rhombus_small{
	top: 212px;
	background-color: #b4791e;
}
.drafts_3 ul li:nth-child(1) .rhombus_small,
.drafts_3 ul li:nth-child(3) .rhombus_small,
.drafts_3 ul li:nth-child(4) .rhombus_small,
.drafts_3 ul li:nth-child(5) .rhombus_small,
.drafts_3 ul li:nth-child(6) .rhombus_small{
	top: 224px;
}
.drafts_3 ul li:nth-child(1) .rhombus_small{
	background-color: #388cb8;
}
.drafts_3 ul li:nth-child(3) .rhombus_small{
	background-color: #63005d;
}
.drafts_3 ul li:nth-child(4) .rhombus_small{
	background-color: #b4791e;
}
.drafts_3 ul li:nth-child(5) .rhombus_small{
	background-color: #826593;
}
.drafts_3 ul li:nth-child(6) .rhombus_small{
	background-color: #b41e1e;
}

/* 	COMPETITIONS */
.competitions{
	display: block;
    width: 100%;
    margin: 0 auto;
    background-color: #f1eee9;
	padding-bottom: 30px;
}
.competitions_inner{
	display: block;
    max-width: 1060px;
	height: 480px;
    margin: 0 auto;
}
.competitions_inner .inner_1{
	display: block;
    width: 50%;
	height: 100%;
	float: left;
}
.competitions_inner .inner_2{
	margin-left: 80px;
	display: block;
    width: 30%;
	height: 100%;
	float: left;
}
.competitions .competitions_inner .inner_1 ul{
	padding: 10px 0;
	max-width: 520px;
}
.competitions .competitions_inner .inner_2 ul{
	padding: 10px 0;
	width: 390px;
}
.competitions .competitions_inner ul li{
	display: inline-block;
	width: 100%;
	padding: 15px;
	transition: all ease-in-out 0.3s;
}
.competitions .competitions_inner ul li:hover{
	background-color: #ebe3d7;
	transition: all ease-in-out 0.3s;
}
.competitions .competitions_inner ul li img{
	margin-right: 15px;
	vertical-align: top;
}
.competitions .competitions_inner ul li:hover img{
	outline: 1px solid #e06316;
    outline-offset: -1px;
}
.competitions .competitions_inner ul li .description{
	display: inline-block;
	max-width: 340px;
	margin-top: -5px;
}
.competitions .competitions_inner ul li p.date, .competitions .competitions_inner ul li p.fond{
	font-family: 'KelsonSans-RegularRU';
	font-size: 12px;
	color: #8a7a61;
	display: inline;
}
.competitions .competitions_inner ul li p.fond span{
	font-family: 'KelsonSans-BoldRU';
	color: #e08900;
}
.competitions .competitions_inner ul li p.name{
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'KelsonSans-RegularRU';
	padding-bottom: 5px;
}
.competitions .competitions_inner ul li p.about{
	font-family: 'PTSerif-Regular', 'PTSerifRegular';
	font-size: 12px;
}
.competitions .inner_2 svg{
	vertical-align: top;
	margin-top: 20px;
	display: inline-block;
	float: left;
	max-height: 18px;
	max-width: 45px;
}
.competitions .inner_2 ul li{
	padding: 10px 15px 15px 15px;
}
.competitions .inner_2 ul li .description{
	display: inline-block;
	max-width: 370px;
	margin-top: -5px;
	vertical-align: top;
}
.competitions .inner_2 ul li p.critique{
	font-family: 'KelsonSans-RegularRU';
	font-size: 14px;
	text-transform: uppercase;
	padding: 5px 0;
}
.competitions .competitions_inner ul li p.critique span{
	color: #cd5200;
}
.competitions .competitions_inner .inner_2 ul li .about{
	font-family: 'KelsonSans-RegularRU';
	font-size: 14px;
	color: #8a7a61;
}

/* NEWS OF PROJECT */
.news {
    display: block;
    width: 100%;
	background-color: #faf6ee;
}
.news_inner {
    display: block;
    width: 1060px;
    margin: 0 auto;
    position: relative;
}
.news_of_project {
    display: block;
    padding: 15px 0 50px 0;
    height: 370px;
    position: relative;
    margin: 20px 0 0 0;
}
.news_of_project_1, .news_of_project_2, .news_of_project_3{
	top: 0;
}
.news_of_project .news_of_project_inner{
	display: block;
    max-width: 1060px;
	height: 530px;
    margin: 0 auto;
	position: relative;
}
.news_of_project ul li {
    display: inline-block;
    width: 500px;
    padding: 13px;
    transition: all ease-in-out 0.3s;
    height: 180px;
}
.news_of_project ul li:hover {
    background-color: #ebe3d7;
    transition: all ease-in-out 0.3s;
}
.news_of_project ul li:hover img{
	outline: 1px solid #e06316;
    outline-offset: -1px;
}
.news_of_project ul li .description {
    font-family: 'KelsonSans-RegularRU';
    max-width: 340px;
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
}
.news_of_project ul li .description .date {
    font-size: 12px;
    color: #8a7a61;
    display: inline;
    vertical-align: top;
}
.news_of_project ul li .description svg {
    max-width: 15px;
    margin-left: 15px;
    vertical-align: top;
}
.news_of_project ul li .description svg + span {
    font-size: 12px;
    padding: 0 15px 0 3px;
    vertical-align: top;
    color: #8a7a61;
    display: inline;
}
.news_of_project ul li .description .name {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.news_of_project ul li .description .about {
    font-family: 'PTSerif-Regular', 'PTSerifRegular';
    font-size: 14px;
    font-weight: bold;
}

/* MAGAZINE */
.magazine {
    display: block;
    width: 1060px;
    margin: 0 auto;
    position: relative;
}
.magazine_inner {
    display: block;
    height: 975px;
    position: relative;
    margin: 20px 0 0 0;
    padding-bottom: 50px;
}
.magazine_1, .magazine_2, .magazine_3{
	top: 0;
}
.magazine_inner ul li {
    display: inline-block;
    width: 520px;
    height: 300px;
    margin-bottom: 35px;
    position: relative;
}
.magazine_inner ul li:nth-child(odd){
    margin-right: 15px;
}
.magazine_1 ul li:nth-child(1) p.book_name2{
	font-size: 22px;
}
.magazine_1 ul li:nth-child(2) p.book_name2,
.magazine_1 ul li:nth-child(4) p.book_name2,
.magazine_1 ul li:nth-child(5) p.book_name2,
.magazine_1 ul li:nth-child(6) p.book_name2{
	font-size: 30px;
}
.magazine_1 ul li:nth-child(3) p.book_name2{
	font-size: 26px;
}
.magazine_1 ul li:nth-child(1) span.image_small{
	background-image: url(../img/book_cover_1.jpg);
}
.magazine_1 ul li:nth-child(2) span.image_small{
	background-image: url(../img/composition_2.jpg);
}
.magazine_1 ul li:nth-child(3) span.image_small{
	background-image: url(../img/composition_3.jpg);
}
.magazine_1 ul li:nth-child(4) span.image_small{
	background-image: url(../img/composition_4.jpg);
}
.magazine_1 ul li:nth-child(5) span.image_small{
	background-image: url(../img/composition_5.jpg);
}
.magazine_1 ul li:nth-child(6) span.image_small{
	background-image: url(../img/composition_6.jpg);
}
.magazine_1 ul li:nth-child(1) .book_name_small{
	color: #388cb8;
}
.magazine_1 ul li:nth-child(2) .book_name_small{
	color: #b4791e;
}
.magazine_1 ul li:nth-child(3) .book_name_small{
	color: #63005d;
}
.magazine_1 ul li:nth-child(4) .book_name_small{
	color: #b4791e;
}
.magazine_1 ul li:nth-child(5) .book_name_small{
	color: #826593;
}
.magazine_1 ul li:nth-child(6) .book_name_small{
	color: #b41e1e;
}
.magazine_1 ul li:nth-child(2) .rhombus_small{
	top: 212px;
	background-color: #b4791e;
}
.magazine_1 ul li:nth-child(1) .rhombus_small,
.magazine_1 ul li:nth-child(3) .rhombus_small,
.magazine_1 ul li:nth-child(4) .rhombus_small,
.magazine_1 ul li:nth-child(5) .rhombus_small,
.magazine_1 ul li:nth-child(6) .rhombus_small{
	top: 224px;
}
.magazine_1 ul li:nth-child(1) .rhombus_small{
	background-color: #388cb8;
}
.magazine_1 ul li:nth-child(3) .rhombus_small{
	background-color: #63005d;
}
.magazine_1 ul li:nth-child(4) .rhombus_small{
	background-color: #b4791e;
}
.magazine_1 ul li:nth-child(5) .rhombus_small{
	background-color: #826593;
}
.magazine_1 ul li:nth-child(6) .rhombus_small{
	background-color: #b41e1e;
}
.purse span{
	display: inline-block;
	background-image: url(../img/shopping-purse.svg);
	height: 24px;
	width: 24px;
	margin: 10px 0 0 13px;
}
a.more{
	position: absolute;
	top: 210px;
	font-family: 'PTSerif-Italic', 'PTSerifItalic';
	font-size: 16px;
	color: #be4800;
	text-decoration: underline;
	cursor: pointer;
}
a.more::after{
	content:'';
	position: absolute;
	display: inline-block;
	background-image: url(../img/arrow_more.png);
	height: 11px;
	width: 6px;
	right: -16px;
    top: 6px;
}
.price{
    display: inline-block;
    width: 86px;
    height: 50px;
    right: 65px;
    bottom: 9px;
    background-color: #fff;
    position: absolute;
    box-shadow: 0 0 5px rgba(0,0,0,2.5);
	z-index: 10;
}
.price span{
	font-family: 'KelsonSans-RegularRU';
	font-size: 22px;
	color: #e06316;
	line-height: 50px;
	display: inline-block;
    width: 86px;
    text-align: center;
}

/* MAGAZINE_2 */
.magazine_2 ul li:nth-child(1) p.book_name2{
	font-size: 22px;
}
.magazine_2 ul li:nth-child(2) p.book_name2,
.magazine_2 ul li:nth-child(4) p.book_name2,
.magazine_2 ul li:nth-child(5) p.book_name2,
.magazine_2 ul li:nth-child(6) p.book_name2{
	font-size: 30px;
}
.magazine_2 ul li:nth-child(3) p.book_name2{
	font-size: 26px;
}
.magazine_2 ul li:nth-child(1) span.image_small{
	background-image: url(../img/book_cover_2.jpg);
}
.magazine_2 ul li:nth-child(2) span.image_small{
	background-image: url(../img/composition_3.jpg);
}
.magazine_2 ul li:nth-child(3) span.image_small{
	background-image: url(../img/composition_4.jpg);
}
.magazine_2 ul li:nth-child(4) span.image_small{
	background-image: url(../img/composition_5.jpg);
}
.magazine_2 ul li:nth-child(5) span.image_small{
	background-image: url(../img/composition_6.jpg);
}
.magazine_2 ul li:nth-child(6) span.image_small{
	background-image: url(../img/book_cover_4.jpg);
}
.magazine_2 ul li:nth-child(1) .book_name_small{
	color: #388cb8;
}
.magazine_2 ul li:nth-child(2) .book_name_small{
	color: #b4791e;
}
.magazine_2 ul li:nth-child(3) .book_name_small{
	color: #63005d;
}
.magazine_2 ul li:nth-child(4) .book_name_small{
	color: #b4791e;
}
.magazine_2 ul li:nth-child(5) .book_name_small{
	color: #826593;
}
.magazine_2 ul li:nth-child(6) .book_name_small{
	color: #b41e1e;
}
.magazine_2 ul li:nth-child(2) .rhombus_small{
	top: 212px;
	background-color: #b4791e;
}
.magazine_2 ul li:nth-child(1) .rhombus_small,
.magazine_2 ul li:nth-child(3) .rhombus_small,
.magazine_2 ul li:nth-child(4) .rhombus_small,
.magazine_2 ul li:nth-child(5) .rhombus_small,
.magazine_2 ul li:nth-child(6) .rhombus_small{
	top: 224px;
}
.magazine_2 ul li:nth-child(1) .rhombus_small{
	background-color: #388cb8;
}
.magazine_2 ul li:nth-child(3) .rhombus_small{
	background-color: #63005d;
}
.magazine_2 ul li:nth-child(4) .rhombus_small{
	background-color: #b4791e;
}
.magazine_2 ul li:nth-child(5) .rhombus_small{
	background-color: #826593;
}
.magazine_2 ul li:nth-child(6) .rhombus_small{
	background-color: #b41e1e;
}

/* MAGAZINE_3 */
.magazine_3 ul li:nth-child(1) p.book_name2{
	font-size: 22px;
}
.magazine_3 ul li:nth-child(2) p.book_name2,
.magazine_3 ul li:nth-child(4) p.book_name2,
.magazine_3 ul li:nth-child(5) p.book_name2,
.magazine_3 ul li:nth-child(6) p.book_name2{
	font-size: 30px;
}
.magazine_3 ul li:nth-child(3) p.book_name2{
	font-size: 26px;
}
.magazine_3 ul li:nth-child(1) span.image_small{
	background-image: url(../img/book_cover_4.jpg);
}
.magazine_3 ul li:nth-child(2) span.image_small{
	background-image: url(../img/composition_5.jpg);
}
.magazine_3 ul li:nth-child(3) span.image_small{
	background-image: url(../img/book_cover_2.jpg);
}
.magazine_3 ul li:nth-child(4) span.image_small{
	background-image: url(../img/book_cover_3.jpg);
}
.magazine_3 ul li:nth-child(5) span.image_small{
	background-image: url(../img/composition_3.jpg);
}
.magazine_3 ul li:nth-child(6) span.image_small{
	background-image: url(../img/book_cover_5.jpg);
}
.magazine_3 ul li:nth-child(1) .book_name_small{
	color: #388cb8;
}
.magazine_3 ul li:nth-child(2) .book_name_small{
	color: #b4791e;
}
.magazine_3 ul li:nth-child(3) .book_name_small{
	color: #63005d;
}
.magazine_3 ul li:nth-child(4) .book_name_small{
	color: #b4791e;
}
.magazine_3 ul li:nth-child(5) .book_name_small{
	color: #826593;
}
.magazine_3 ul li:nth-child(6) .book_name_small{
	color: #b41e1e;
}
.magazine_3 ul li:nth-child(2) .rhombus_small{
	top: 212px;
	background-color: #b4791e;
}
.magazine_3 ul li:nth-child(1) .rhombus_small,
.magazine_3 ul li:nth-child(3) .rhombus_small,
.magazine_3 ul li:nth-child(4) .rhombus_small,
.magazine_3 ul li:nth-child(5) .rhombus_small,
.magazine_3 ul li:nth-child(6) .rhombus_small{
	top: 224px;
}
.magazine_3 ul li:nth-child(1) .rhombus_small{
	background-color: #388cb8;
}
.magazine_3 ul li:nth-child(3) .rhombus_small{
	background-color: #63005d;
}
.magazine_3 ul li:nth-child(4) .rhombus_small{
	background-color: #b4791e;
}
.magazine_3 ul li:nth-child(5) .rhombus_small{
	background-color: #826593;
}
.magazine_3 ul li:nth-child(6) .rhombus_small{
	background-color: #b41e1e;
}