*{
	margin: 0;
	padding: 0;
}
*:focus {outline: none;}
*::-webkit-input-placeholder {
	font-family: 'KelsonSans-RegularRU';
	color: #aca395;
	opacity: 1;
}
*:-moz-placeholder {
	font-family: 'KelsonSans-RegularRU';
	color: #aca395;
	opacity: 1;
}
*::-moz-placeholder {
	font-family: 'KelsonSans-RegularRU';
	color: #aca395;
	opacity: 1;
}
*:-ms-input-placeholder {
	font-family: 'KelsonSans-RegularRU';
	color: #aca395;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
::-webkit-input-placeholder {...}
::-moz-placeholder  {...}  /* Firefox 19+ */
:-moz-placeholder {...}  /* Firefox 18- */
:-ms-input-placeholder {...}
::placeholder {...}
body ul{
	list-style-type:none;
}
body a{
	text-decoration: none;
}


.main_content{
	display: block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	
}
	.main_content h3{
		font-size: 30px;
		color: #8a7a61;
		background-color: #faf4eb;
		padding: 160px 0 5px 0;
		text-transform: uppercase;
		font-family: 'KelsonSans-BoldRU';
	}
	.main_content .owl_back{
		display: block;
		background-color: #f1eee9;
		position: relative;
	}
	.main_content .owl_back img{
		padding-top:55px;
	}
	.main_content .owl_back .form_fill{
		display: block;
		width: 600px;
		margin: 0 auto;
		margin-top: -44px;
	}
	.form_fill .fields{
		display:inline-block;
		vertical-align: top;
		width: 540px;
		background-color: #faf4eb;
		padding: 25px 0px;
		margin: 0px 0px 50px -5px;
		position: relative;
	}
	.contact_form label{
		display: block;
		font-size: 19px;
		color: #aca395;
		margin: 10px 0px;
		font-family: 'KelsonSans-RegularRU';
	}
	.contact_form input[type="email"]{
		resize: none;
		width: 380px;
		height: 42px;
		background-color: #dbd5ca;
		border: 1px solid transparent;
		outline: none;
		color: #aca395;
		transition: all ease-in-out 0.5s;
		padding-left: 15px;
		padding-right: 30px;
	}
.fields .contact_form img{
	margin: 35px 0 0px;
	padding:0;
	border: 1px solid #dbd5ca;
}
.button{
	display:inline-block;
	margin: 25px 0px 45px;
	width: 290px;
	height: 80px;
	line-height: 80px;
	text-transform: uppercase;
	background-color: #e06316;
	color:#fff;
	font-size: 35px;
	font-family: 'HaginCapsMedium';
	border: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	transition:all ease-in-out 0.4s;
}
.button:hover{
	background-color: #f97f1c;
	transition:all ease-in-out 0.4s;
}
.hidden{
	display: none;
}
.pop_form{
	width: 650px;
	height: 300px;
	background-color: #faf4eb;
	text-align: center;
	font-family: 'KelsonSans-RegularRU';
}
.pop_form h3{
	text-transform: uppercase;
	color: #8a7a61;
	font-size: 26px;
	padding: 45px 0px 30px;
}
.pop_form p{
	color: #aca395;
	font-size: 19px;
	padding-bottom: 40px;
}
.pop_form .button{
	width: 130px;
	margin: 0;
}