*{
	margin: 0;
	padding: 0;
}
*:focus {outline: none;}
*::-webkit-input-placeholder {
	font-family: 'KelsonSans-RegularRU';
	color: #aca395;
	opacity: 1;
}
*:-moz-placeholder {
	font-family: 'KelsonSans-RegularRU';
	color: #aca395;
	opacity: 1;
}
*::-moz-placeholder {
	font-family: 'KelsonSans-RegularRU';
	color: #aca395;
	opacity: 1;
}
*:-ms-input-placeholder {
	font-family: 'KelsonSans-RegularRU';
	color: #aca395;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
::-webkit-input-placeholder {...}
::-moz-placeholder  {...}  /* Firefox 19+ */
:-moz-placeholder {...}  /* Firefox 18- */
:-ms-input-placeholder {...}
::placeholder {...}
body ul{
	list-style-type:none;
}
body a{
	text-decoration: none;
}


.main_content{
	display: block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	
}
	.main_content h3{
		font-size: 30px;
		color: #8a7a61;
		background-color: #faf4eb;
		padding: 160px 0 5px 0;
		text-transform: uppercase;
		font-family: 'KelsonSans-BoldRU';
	}
	.main_content .owl_back{
		display: block;
		background-color: #f1eee9;
		position: relative;
	}
	.main_content .owl_back img{
		padding-top:55px;
	}
	.main_content .owl_back .form_fill{
		display: block;
		width: 600px;
		margin: 0 auto;
		margin-top: -44px;
	}
.form_fill .soc{
	display: inline-block;
	vertical-align: top;
	max-width: 56px;
}
	.form_fill .soc ul li{
		display: inline-block;
		width: 49px;
		height: 49px;
		float: left; 
		margin-bottom: 7px;
		background-image: url(../img/enter_soc_stripe.png);
	}
	.form_fill .soc ul li a{
		display: inline-block;
		width: 100%;
		height: 100%;
	}
	.form_fill .soc ul li:nth-child(1){
		border-right: 7px solid #faf4eb;
		box-sizing: content-box;
	}
	.form_fill .soc ul li:nth-child(2){
		background-position: 0px -56px;
	}
	.form_fill .soc ul li:nth-child(3){
		background-position: 0px -115px;
	}
	.form_fill .soc ul li:nth-child(4){
		background-position: 0px -173px;
	}
	.form_fill .soc ul li:nth-child(5){
		background-position: 0px -231px;
	}
	.form_fill .fields{
		display:inline-block;
		vertical-align: top;
		width: 540px;
		background-color: #faf4eb;
		padding: 25px 0px;
		margin: 0px 0px 50px -5px;
	}
.contact_form{
	position: relative;
}
	.contact_form label{
		display: block;
		font-size: 19px;
		color: #aca395;
		margin: 10px 0 5px 0px;
		font-family: 'KelsonSans-RegularRU';
	}
	.contact_form .form_hint{
		position: absolute;
		right: -124px;
		height: 44px;
		width: 125px;
		line-height: 44px;
		text-align: center;
		color: #fff;
		background-color: #b0a28d;
		font-size: 14px;
		font-family: 'KelsonSans-RegularRU';
		display: none;
	}
	.form_hint::before {
		content: "";
		position: absolute;
		display: inline-block;
		height: 0px;
		width: 0px;
		border: 15px solid;
		border-color: transparent #b0a28d transparent transparent;
		left: -30px;
		margin-top: 7px;
	}
	.contact_form input:required
	{
		resize: none;
		width: 380px;
		height: 42px;
		background-color: #dbd5ca;
		border: 1px solid transparent;
		outline: none;
		color: #aca395;
		transition: all ease-in-out 0.5s;
		padding-left: 15px;
		padding-right: 30px;
	}
	.contact_form p.check{
		position: absolute;
		display: inline-block;
		height: 20px;
		width: 22px;
		background-image: url(../img/invalid_label.png);
		margin-top: 12px;
		margin-left: 12px;
		display: none;
	}
	.contact_form input:required:focus, 
	.contact_form input:required:hover{
		border: 1px solid #e06316;
		transition: border ease-in-out 0.5s;
	}
	.contact_form input:required:focus:invalid {
		background: #dbd5ca url(../img/invalid.png) no-repeat 100% center;
	}
	.contact_form input:required:valid {
		background: #dbd5ca url(../img/valid.png) no-repeat 100% center;
	}
	.contact_form input:focus + p.check {display: inline;}
	.contact_form input:required:focus + p.check + .form_hint{
		display: inline-block;
	}
	.contact_form input:required:valid + p.check {
		display: inline-block;
		background-image: url(../img/valid_label.png);
	}
	.contact_form input:required:valid + p.check + .form_hint{
		display: none;
	}
div.fields p.or{
	font-family: 'KelsonSans-RegularRU';
	font-size: 18px;
	color: #aca395;
	padding-bottom: 10px;
}
div.fields p.or + a{
	font-family: 'KelsonSans-RegularRU';
	font-size: 18px;
	color: #e06316;
	text-decoration: underline;
	margin-bottom: 20px;
}
.fields .contact_form img{
	margin: 35px 0 0px;
	padding:0;
	border: 1px solid #dbd5ca;
}
.button{
	display: inline-block;
	margin: 25px 0px 45px;
	width: 380px;
	height: 80px;
	line-height: 80px;
	text-transform: uppercase;
	background-color: #e06316;
	color:#fff;
	font-size: 35px;
	font-family: 'HaginCapsMedium';
	border: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	transition:all ease-in-out 0.4s;
}
.button:hover{
	background-color: #f97f1c;
	transition:all ease-in-out 0.4s;
}

	color: #fff;}