@font-face {
  font-family: 'PTSerif-Bold';
  src: url('PTSerif-Bold.woff') format('woff'),
       url('PTSerif-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerifBold';
  src: url('PTSerifBold.eot');
  src: url('PTSerifBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

