@font-face {
  font-family: 'KelsonSans-RegularRU';
  src: url('KelsonSans-RegularRU.eot');
  src: url('KelsonSans-RegularRU.eot?#iefix') format('embedded-opentype'),
       url('KelsonSans-RegularRU.woff') format('woff'),
       url('KelsonSans-RegularRU.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

