@font-face {
  font-family: 'PTSerif-Italic';
  src: url('PTSerif-Italic.woff') format('woff'),
       url('PTSerif-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerifItalic';
  src: url('PTSerifItalic.eot');
  src: url('PTSerifItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

