@font-face {
  font-family: 'KelsonSans-LightRU';
  src: url('KelsonSans-LightRU.eot');
  src: url('KelsonSans-LightRU.eot?#iefix') format('embedded-opentype'),
       url('KelsonSans-LightRU.woff') format('woff'),
       url('KelsonSans-LightRU.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

