@font-face {
  font-family: 'HaginCapsMedium';
  src: url('HaginCapsMedium.eot');
  src: url('HaginCapsMedium.eot?#iefix') format('embedded-opentype'),
       url('HaginCapsMedium.woff') format('woff'),
       url('HaginCapsMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

