@font-face {
  font-family: 'KelsonSans-BoldRU';
  src: url('KelsonSans-BoldRU.eot');
  src: url('KelsonSans-BoldRU.eot?#iefix') format('embedded-opentype'),
       url('KelsonSans-BoldRU.woff') format('woff'),
       url('KelsonSans-BoldRU.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

