@font-face {
  font-family: 'PTSerif-Regular';
  src: url('PTSerif-Regular.woff') format('woff'),
       url('PTSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerifRegular';
  src: url('PTSerifRegular.eot');
  src: url('PTSerifRegular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

